.book-card {
    width: 15em;
    height: 28rem;
    margin-bottom: 2.1rem;
    position: relative;
}

.book-image {
    height: 16rem;
}

.book-title {
    font-size: 100%;
}

.book-details-1 {
    text-transform: capitalize;
}

.book-genre {
    color: cadetblue;
    font-size: 81%;
}

.book-action {
    position: absolute;
    bottom: .8rem;
}