@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Montagu+Slab:wght@300&family=Nunito&display=swap');

.book-card {
    width: 15em;
    height: 28rem;
    margin-bottom: 2.1rem;
    position: relative;
    border: none;
}

/*
h1 {
    color: #fff;
}

h5 {
    color: #fff;
}
*/

.book-image {
    height: 16rem;
}

.book-title {
    font-size: 100%;
    font-weight: bold;
}

.long-title {
    font-size: 115%;
}

.book-author {
    font-family: 'Montagu Slab', serif;
    letter-spacing: .5pt;
}

.book-body {
    padding: 1rem;
    background: #2d424a;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.book-details-1 {
    text-transform: capitalize;
}

.origins, .book-genre {
    font-size: 81%;
    position: absolute;
}

.book-genre {
    margin-top: 1rem;
    color: cadetblue;
    bottom: 2rem;
}

.origins {
    bottom: .8rem;
}

