.book-card {
    width: 15em;
    height: 28rem;
    margin-bottom: 2.1rem;
    position: relative;
}

.book-image {
    height: 16rem;
}

.book-title {
    font-size: 100%;
}

.book-author {
    position: absolute;
    bottom: 6rem;
}

.book-action {
    position: absolute;
    bottom: 1.9rem;
}