.home-section-div {
    width: 13.5vw;
    height: 20px;
    border: 1px solid #000000;
    display: inline-block;
}

.login {
    border-left: 1px solid #000000;
}

.books {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.authors {
    border-right: 1px solid #000000;
}

