.home-section-div {
    width: 16.5vw;
    height: 60vh;
    display: inline-block;
}

.links {
    text-decoration: none;
    color: #000000;
}

.home-section-links-div {
    padding-top: 81%;
    height: 100%;
}

.login {
    border-left: 1px solid #000000;
}

.books {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.authors {
    border-right: 1px solid #000000;
}

