.home-container {
    height: 100vh;
    background: url(./books.jpeg) no-repeat center center fixed;
}

/*

.home-page-div {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
}

.home-page-col {
    margin-top: 18vh;
}

.login-div {
    background: blue;
}

*/