.home-container {
    height: 100vh;
}

.home-page-col {
    background: url(./library-books.jpeg) no-repeat center center;
    height: 100vh;
    position: relative;
}

.home-page-col:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
}

.links-div {
    margin-top: 30%;
    text-align: center;
}

.links {
    color: #fff;
    margin: 0 1rem;
}

.quote-div {
    width: 35rem;
    color: #fff;
    position: absolute;
    right: 5rem;
    bottom: 4.9rem;
}

.quote-paragraph {
    font-size: 164%;
}