@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap')

.home-container {
    height: 100vh;
}

.home-page-col {
    background: url(./library-books.jpeg) no-repeat center center;
    height: 100vh;
    position: relative;
}

.home-page-col:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
}

.links-div {
    position: absolute;
    top: 45.9%;
    left: 43%;
    text-align: center;
}

.links {
    margin: 0 1rem;
    text-decoration: none;
    text-align: center;
}

.buttons-links {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    width: 135px;
    height: 41px;
    text-align: center;
    padding-top: 5.4%;
    font-size: 110%;
    font-weight: bold;
    transition-property: background, color;
    transition-duration: .8s;
    transition-timing-function: ease;
    font-family: 'Nunito', sans-serif;
}

.buttons-links:hover {
    color: #000;
    background: #fff;
}

.quote-div {
    width: 35rem;
    color: #fff;
    position: absolute;
    right: 5rem;
    bottom: 4.9rem;
}

.quote-paragraph {
    font-size: 164%;
}